.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
  margin-top: 3rem;
}
.selectorContainer {
  display:flex;
  flex-direction: row;
  margin-top: 3rem;
  max-width: 1200px;

  align-items: center;
  justify-content: center;
  // flex-wrap: wrap;
}
.card {
  margin: 1rem;
  // flex-basis: 45%;
  width: 250px;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.goalInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.goalInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
}

.numberInput {
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

.numberInput:hover,
.numberInput:focus,
.numberInput:active {
  border-color: #0070f3;
}

.selectorLabel {
  width: 120px;
}
